<nav class="navbar navbar-inverse" style="height:65px;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#" style="padding-top:0px;">Planets</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="navbar_link"><a href="/planets" style="padding-top:0px;">Home</a></li>
      <li><a href="/planets/new" style="padding-top:0px;">New Post</a></li>
      <li><a href="/" style="padding-top:0px;">Asteroid Feed</a></li>
      <li><a href="#" style="padding-top:0px;">Page 3</a></li>
    </ul>
  </div>
</nav>
