<div class="form_page">
  <h1 ><%= @title %></h1>
  <h1 class="post_headers">New</h1>
  <p class="form_comment post_headers">Upload new posts here!</p>
  <%= erb(:'partials/form', :layout => false) %>
</div>
